*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(226,243,226);
    background :linear-gradient(90deg, rgba(226,243,226,1) 0%, rgba(92,114,208,1) 0%, rgba(89,174,187,1) 100%);
    font-family: sans-serif;
    color: white;
    font-style: italic;
    text-shadow: 1px 1px #000;
}
.location ,.temperature {
  height: 30vh;
  width: 50% ;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperature{
    flex-direction: column;
}
